<div class="login-body">
  <div class="login-features">
    <h2>Connect with friends and the world around you with Fakebook.</h2>
    <div class="feature">
      <div class="feature-image">
        <%= image_tag "posts.png", size: "50x50" %>
      </div>
      <div class="feature-text">
        <p><span><strong>See posts and photos</strong></span> from friends.</p>
      </div>
    </div>
    <div class="feature">
      <div class="feature-image">
        <%= image_tag "share.png", size: "50x50" %>
      </div>
      <div class="feature-text">
        <p><span><strong>Share what's new</strong></span> in your life on your Timeline.</p>
      </div>
    </div>
    <div class="feature">
      <div class="feature-image">
        <%= image_tag "find.png", size: "50x50" %>
      </div>
      <div class="feature-text">
        <p><span><strong>Find more</strong></span> of what you're looking for with Fakebook.</p>
      </div>
    </div>
  </div>
  <div class="login-signup">
    <h2>Sign Up</h2>
    <p>It's free and always will be.</p>
    <%= link_to "Sign Up", new_registration_path(resource_name) %>
  </div>
</div>