* {
  margin: 0;
  padding: 0;
}

/* Notifications and Alerts */

.notice {
  background-color: green;
}

.alert {
  background-color: red;
}

/* Sign Up Error */

#error-explanation {
  background-color: red;
}

/* Logo */

#logo {

}

/* Navigation */

#navigation {
  
}